* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.app {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.gradient {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.gradient h1 {
  color: #2f3542;
  text-decoration: underline;
  margin-bottom: 2rem;
  font-weight: bold;
}

.colorPicker {
  display: flex;
  gap: 5rem;
  margin-bottom: 2rem;
}

.btnRandom {
  padding: 15px 20px;
  background: #358835;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.btnRandom:hover {
  background: #3e8e41;
  transform: scale(1.05);
}

.output {
  margin-top: 9rem;
  display: flex;
  align-items: center;
  font-size: 16px;
  background: #fff;
  padding: 10px 20px;
}

input[type="color"] {
  appearance: none;
  width: 11em;
  height: 4em;
  font-size: medium;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  outline: none;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(223, 225, 227);
  padding: 10px;
  width: 11em;
  border-radius: 8%;
  color: rgb(20, 15, 19);
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

option {
  padding: 8px 16px;
  background-color: #fff;
  color: rgb(20, 15, 19);
  font-size: medium;
  font-weight: bold;
}
